@media only screen and (max-width: 1199px) {
  .container {
    width: 100%;
    border-radius: 0;
  }
}

@media only screen and (max-width: 991px) {
  header nav .nav-links li {
    margin-left: 1rem;
  }

  .player-section .all-player {
    grid-template-columns: repeat(2, 1fr);
  }

  .highlight-section {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 4rem;
  }
}

@media only screen and (max-width: 767px) {
  html {
    font-size: 55%;
  }
  .container {
    width: 75%;
    margin: 5rem auto;
  }

  header nav #hamburger {
    display: block;
  }

  header nav .nav-links {
    display: none;
  }

  .player-section .all-player {
    grid-template-columns: repeat(1, 1fr);
  }

  .highlight-section.container {
    width: 100%;
  }
}

@media only screen and (max-width: 575px) {
  footer .container {
    width: 100%;
  }
}

@media only screen and (max-width: 479px) {
  .container {
    width: 100%;
    padding: 3rem;
  }

  .highlight-section .content .sub-title {
    font-size: 2.8rem;
  }
}
