@media only screen and (max-width: 1199px) {
  .container {
    width: 100%;
    border-radius: 0;
  }
}

@media only screen and (max-width: 991px) {
  header nav .nav-links li {
    margin-left: 1rem;
  }

  header .hero .content h1 {
    font-size: 5.4rem;
    line-height: 6rem;
  }

  .player-section .all-player {
    grid-template-columns: repeat(2, 1fr);
  }

  .highlight-section {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 4rem;
  }
}

@media only screen and (max-width: 767px) {
  html {
    font-size: 55%;
  }
  .container {
    width: 75%;
    margin: 5rem auto;
  }

  header {
    overflow-x: hidden;
  }

  header nav #hamburger {
    display: block;
  }

  header nav .nav-links {
    display: none;
  }

  header .hero {
    display: grid;
    grid-template-columns: 1fr;
  }

  header .hero .content,
  header .hero .image-container {
    width: 100%;
    margin: 0;
    padding: 0 1rem;
  }

  header .hero .content {
    margin-top: 10rem;
  }

  header .hero .image-container {
    height: 50vh;
  }
  header .hero .image-container img {
    width: 80%;
    height: auto;
  }

  header .hero .image-container .ball {
    top: 40%;
    left: 3%;
    transform: scale(0.7);
  }

  header .hero .image-container:hover .ball {
    transform: translate(-50%, -280%) rotate(360deg) scale(0.5);
  }

  .player-section .all-player {
    grid-template-columns: repeat(1, 1fr);
  }

  .highlight-section.container {
    width: 100%;
  }

  .rankings .team-ranking {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 3rem;
  }

  .newsleter {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 3rem;
  }
}

@media only screen and (max-width: 575px) {
  footer .container {
    width: 100%;
  }
}

@media only screen and (max-width: 479px) {
  .container {
    width: 100%;
    padding: 3rem;
  }

  .highlight-section .content .sub-title {
    font-size: 2.8rem;
  }
}
