/* *** *** *** *** *** *** *** *** *** *** *** *** *** *\
## Basic Setup
\* *** *** *** *** *** *** *** *** *** *** *** *** *** */

/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

/* variables */
:root {
  --main-font: "Poppins", sans-serif;
  --primary-color: #2d25a0;
  --secondary-color: #e02c6d;
  --main-black-color: #222222;
  --main-white-color: #fafaff;
  --gray-color: #777;
  --light-gray: #d3d3d3;
}

/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: var(--main-white-color);
  font-size: 1.6rem;
  font-family: var(--main-font);
  color: var(--main-black-color);
}

/* *** *** *** *** *** *** *** *** *** *** *** *** *** *\
## global styles
\* *** *** *** *** *** *** *** *** *** *** *** *** *** */

h1 {
  font-size: 6.4rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3.6rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
}

h4 {
  font-size: 2.8rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
}

p {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

a {
  text-transform: capitalize;
  text-decoration: none;
}

strong {
  display: inline-block;
  margin-top: 1rem;
}

img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

section {
  margin: 3rem 0;
}

.container {
  width: 116rem;
  padding: 3rem 1rem;
  margin: 8rem auto;
}

.section-bg-gray {
  background: rgb(241, 241, 241);
}

.btn {
  text-transform: capitalize;
  background: var(--secondary-color);
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  cursor: pointer;
  border: none;
  outline: none;
  color: var(--main-white-color);
  padding: 1rem 2rem;
  transition: 0.2s;
}

.btn:hover {
  background: var(--primary-color);
}

.link {
  display: inline-block;
  text-transform: capitalize;
  color: var(--primary-color);
  font-size: 1.4rem;
  transition: 0.25s;
}
.link:hover {
  color: var(--secondary-color);
}

.section-title {
  color: var(--primary-color);
  display: inline-block;
  font-size: 2.8rem;
  font-weight: 500;
  margin-bottom: 3rem;
  letter-spacing: 0.3rem;
  position: relative;
}

.section-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.5rem;
  width: 100%;
  background: var(--light-gray);
  border-radius: 50%;
}

.card {
  background: #ffffff;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

/* *** *** *** *** *** *** *** *** *** *** *** *** *** *\
## player section
\* *** *** *** *** *** *** *** *** *** *** *** *** *** */
.player-section .all-player {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
}

.player-section .all-player .player-img {
  border-radius: 0.5rem 0.5rem 0 0;
  overflow: hidden;
  width: 100%;
  height: 28.5rem;
  margin-bottom: 1rem;
}

.player-section .all-player .player-img img {
  width: 100%;
  height: 100%;
  transition: 0.25s;
}

.player-section .all-player .player-img img:hover {
  transform: scale(1.2);
}

.player-section .all-player .player-name h4 {
  margin-bottom: 0.5rem;
}
.player-section .all-player .player-info p {
  color: var(--gray-color);
}

/* *** *** *** *** *** *** *** *** *** *** *** *** *** *\
## highlight section
\* *** *** *** *** *** *** *** *** *** *** *** *** *** */
.highlight-section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  padding: 5rem 4rem;
}

.highlight-section .content,
.highlight-section .image-container {
  width: 90%;
  margin: auto;
}

.highlight-section .content .sub-title {
  margin-bottom: 1rem;
}

.highlight-section .content .details {
  text-align: justify;
  color: var(--gray-color);
  margin-bottom: 3rem;
}

.highlight-section .image-container {
  overflow: hidden;
  border-radius: 2.5rem;
  position: relative;
  cursor: pointer;
}

.highlight-section .image-container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.25);
  opacity: 0;
  z-index: -1;
  transition: all 0.15s linear 0.15s;
}

.highlight-section .image-container:hover .btn {
  transform: translate(-50%, -50%) scale(1.1);
  opacity: 1;
  z-index: 9;
}

.highlight-section .image-container img {
  width: 100%;
  height: 100%;
  transform: scale(1.01);
  transition: all 0.2s linear;
}

.highlight-section .image-container:hover img {
  transform: scale(1.35);
}

.highlight-section .image-container:hover::after {
  height: 100%;
  width: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(224, 44, 110, 0.35);
  display: block;
  z-index: 1;
}

/* *** *** *** *** *** *** *** *** *** *** *** *** *** *\
## Footer section
\* *** *** *** *** *** *** *** *** *** *** *** *** *** */
footer {
  width: 100%;
}

footer .container {
  width: 50rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer .container .social-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  margin: 1.5rem 0;
}

footer .container .social-links .link {
  background: var(--light-gray);
  color: var(--gray-color);
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .container .social-links .link .fab {
  font-size: 1.8rem;
  transition: 0.5s;
}
footer .container .social-links .link:hover .fab {
  color: var(--secondary-color);
  transform: rotate(360deg);
}

footer .container .copyright-section {
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
}
